 <!-- FOOTER -->
<div id="footer_wrap" name="footer" class="outer">
<footer class="inner">
<div class="rodape coluna1">
	<h4 class="title">A SCS</h4>
	<ul class="menu">
		<li>
			<a href="http://www.mdic.gov.br/index.php/comercio-servicos/a-secretaria-de-comercio-e-servicos-scs">A Secretaria de Comércio e Serviços</a>
		</li>
		<li>
			<a href="http://www.mdic.gov.br/index.php/comercio-servicos/a-secretaria-de-comercio-e-servicos-scs-5">Atlas Nacional de Comércio e Serviços</a>
		</li>
		<li>
			<a href="http://www.mdic.gov.br/index.php/comercio-servicos/a-secretaria-de-comercio-e-servicos-scs-6">Calendário Brasileiro de Exposições e Feiras</a>
		</li>
		<li>
			<a href="http://www.mdic.gov.br/index.php/comercio-servicos/a-secretaria-de-comercio-e-servicos-scs-12">Informativos</a>
		</li>
		<li>
			<a href="#">Estudos e Publicações</a>
		</li>
	</ul>
</div>
<div class="rodape coluna2">
	<h4 class="title">O SISCOSERV</h4>
	<ul class="menu">
		<li>
			<a href="http://www.mdic.gov.br/index.php/comercio-servicos/a-secretaria-de-comercio-e-servicos-scs-15">Sobre o Sistema</a>
		</li>
		<li>
			<a href="http://opendatahandbook.org/guide/pt_BR/">Manuais de Utilização</a>
		</li>
		<li>
			<a href="http://www.mdic.gov.br/index.php/comercio-servicos/a-secretaria-de-comercio-e-servicos-scs-15/estatisticas-6">Perguntas Frequentes - FAQ</a>
		</li>
		<li>
			<a href="http://www.mdic.gov.br/index.php/comercio-servicos/a-secretaria-de-comercio-e-servicos-scs-15/estatisticas-4">Medidas Legais e Administrativas</a>
		</li>
	</ul>
</div>
<div class="rodape coluna3">
	<h4 class="title">Mais</h4>
	<ul class="menu">
		<li>
			<a href="http://www.mdic.gov.br/index.php/comercio-servicos/a-secretaria-de-comercio-e-servicos-scs-13">A Nomenclatura NBS</a>
		</li>
		<li>
			<a href="http://www.mdic.gov.br/portal/dashboard.html">Siscoserv Dash</a>
		</li>
		<li>
			<a href="http://www.mdic.gov.br/index.php/comercio-servicos/a-secretaria-de-comercio-e-servicos-scs-8">Estatísticas do Mercado Doméstico</a>
		</li>
	</ul>
</div>

<!--
Utilizando Tema Slate, créditos: Jason Costello
<p class="copyright">Slate theme maintained by <a href="https://github.com/jsncostello">Jason Costello</a></p>
<p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
<p><a href="http://tholman.com/github-corners/">Github corner icon</a> by Tim Holman</p>
-->
<p>&nbsp;</p>
<p>&nbsp;</p>
</footer>
</div>
<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery('p:contains("[TOC]")').html('').before('<div id="toc"></div>');
    
    $(document.links).filter(function() {
        return this.hostname != window.location.hostname;
    }).attr('target', '_blank');

    jQuery('#toc').toc({ listType: 'ul', showEffect: 'fadeIn',  minimumHeaders: 0 });

    // remove o 1º item do TOC, que na verdade é o título do cabeçalho do portal
    jQuery('#toc').find("li").first().remove();
    jQuery('#toc').find("li").first().remove();

/*    
   if (window.location.href.indexOf('#') == 0) {
    let hash = encodeURIComponent(window.location.href.split('#')[1]);
    let hashTop = document.querySelector(`#${hash}`).offsetTop;
    window.scrollTop = hashTop;
   }
*/
    anchors.options.placement='right';
    anchors.add('h1, h2, h3, h4, h5, h6').remove('#site_logo');

});
</script>
<script defer async src="//barra.brasil.gov.br/barra.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ site.baseurl }}/public/js/scripts.js"></script>
</body>
</html>
